@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&display=swap");

:root {
  --primary: #fff;
  --secondary-medium: #383838;
  --secondary-light: #757575;
  --red-notification: #f72121;
  --green-light: #fbfce1;
  --green-medium: #aeaf4f;
  --shadow-dark: rgba(0, 0, 0, 0.25);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
